<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!--LINKS DAS TABELAS E FORMULÁRIOS DOS COMPONENTES CLIENTE PRODUTO E PEDIDO 
        NESTE COMPONENTE MENU (APP-COMPONENTE-HTML--RAIS) QUE SÃO RENDERIZADOS -->
        <a routerLink="/listarpedido" routerLinkActive="selected">Lista Pedido</a><br>
        <a routerLink="/adicionarpedido" routerLinkActive="selected">Cad Pedido</a><br>
        <a routerLink="/listarcliente" routerLinkActive="selected">Lista Cliente</a><br>
        <a routerLink="/adicionarcliente" routerLinkActive="selected">Cad Cliente</a><br>
        <a routerLink="/listarproduto" routerLinkActive="selected">Lista Produto</a><br>
        <a routerLink="/adicionarproduto" routerLinkActive="selected">Cad Produto</a><br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome To All</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- NG COMPONENTE RESPONSÁVEL POR RENDERIZAR AS TABELA E FORMULÁRIOS NO APP-COMPONENTE-HTML 
  RAIS QUE TECNICAMENTE É O COMPONENTE MENU -->
  <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
