<!--FORMULARIO DE ATULIZAÇÃO DO COMPONENTE PEDIDO -->
<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h4>ATUALIZAR DE PEDIDO</h4>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="formulario">         
                 <div class="form-row"> 
                    <div class="form-group">     
                     <label for="">CLIENTE</label>
                     <select class="form-control" id="cliente" formControlName="cliente" style="background-color: lightblue;">
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente">
                            {{cliente.nome}}
                            </option>
                       </select>
                     </div>
                <br>     
                <br>
                <div class="form-group">     
                    <label for="">VALOR TOTAL</label>
                         <input id="totalDaCompra" formControlName="totalDaCompra" class="form-control" style="background-color: lightblue;">
                    </div>
               <br>     
               <br>
                    <div class="form-group">   
                        <label for="dataCompra">DATA DA COMPRA  </label>
                        <input type="date" id="dataCompra" formControlName="dataCompra" placeholder="yyyy/MM/dd hh:mm" required  style="background-color: lightblue;"/>
                      </div>
               <br>
               <br>
                <div class="form-group">     
                    <div class="btn-group">
                      <button onclick="this.disabled = true;" (click)="alterarProduto()" class="btn btn-danger">ALTERAR PEDIDO</button>
                      <button onclick="this.disabled = true;" (click)="alterarCliente()" class="btn btn-danger">ALTERAR CLIENTE</button>
                    </div>
                      <div class="textoprojeto">
                        <h4>SELECIONE PRODUTO</h4>
                      </div>         
                      <mat-selection-list>  
                      <mat-list-option *ngFor="let produto of produtos" (click)="showInfo(produto)">
                           <span> {{ produto.nome }}</span>
                          <button></button>
                          </mat-list-option>
                        </mat-selection-list>
                    </div>
               <br>  
                <div class="botao">
                    <button (click)="OnSubmit()" class="btn btn-danger">ATUALIZAR</button>
               </div>
            </div>
            </form>
        </div>
    </div>
</div>





